<div class="logos-container">
    <ul class="list-logos">
        <li class="verify"><%= image_tag @idp.logo_path, alt: '', role:'presentation' %></li>
        <li><%= image_tag 'bundde.png', alt: '', role:'presentation' %></li>
    </ul>
</div>