<% content_for :main do %>
  <div class="content-inner slides">
    <div class="grid-row">
      <div class="column-one-third">
        <div class="slides-verify-logo hide-mobile">
          <%= image_tag 'bundde.png', alt: ' ', role: 'presentation' %>
        </div>
      </div>
      <div class="column-two-thirds">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
<%= render file: 'layouts/application' %>
